[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
jinja2 = "*"
aiofiles = "*"
python-multipart = "*"
sqlalchemy = "*"
passlib = "*"
sha512-crypt = "*"
progressbar = "*"
python-dateutil = "*"
progressbar2 = "*"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.10"
